name: flutter_practice_one
description: "A new Flutter project."
version: 1.0.0+1
publish_to: none

environment:
  sdk: ">=3.1.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  melos: ^3.4.0
  very_good_analysis: ^5.1.0

flutter:
  uses-material-design: true
  generate: true
